$gutter: 16px;
$border-radius: 5px;

$font-size: 16px;
$font-family: "Roboto";
$heading-font-family: "";

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$color-primary:             #3F51B5 !default;
$color-primary-lighter:     #7986CB !default;
$color-primary-darker:      #303F9F !default;
$color-success:             #5cb85c !default;
$color-info:                #5bc0de !default;
$color-warning:             #f0ad4e !default;
$color-danger:              #d9534f !default;