.docs-section {
  margin-top: 3rem;
  padding-top: 3rem;
  position: relative;
}

.docs-section::before {
  content: '';
  width: 50%;
  border-top: 1px solid $gray-lighter;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.docs-sub-section {
  margin-top: 2rem;
}

.docs-header {
  color: font-gray;
  margin-bottom: 2rem;
}

.code-example-body {
  white-space: pre;
  word-wrap: break-word;
  margin: 2rem;
}

.docs-variant {
  margin-bottom: 0.25rem;
}