.example-columns .column {
  padding: 4px;
}

.example-columns p {
  @extend .bg-gray-lighter;
  border-radius: 10px;
  text-align: center;
  padding: 4px;
  margin: 2px;
}

.example-container {
  width: 90%;
  padding: ($gutter);
  & .message {
    position: relative;  
  }
}

.example-media-container {
  width: 80%;
  border: 1px solid $gray-lighter;
  margin: auto;
  padding: $gutter
}

.example-message {
  &__label {
    top: 2px;
    left: 5px;
    position: absolute;
    font-size: 0.5rem;
    color: $gray-dark;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.example-loader-container {
  position: relative;
  height: 100px;
  width: 90%;
  padding: $gutter;
}

.example-image-container {
  width: 100%;
  text-align: center;
}