.example-columns .column {
  padding: 4px;
}

.example-columns p {
  @extend .bg-gray-lighter;
  border-radius: 10px;
  text-align: center;
  padding: 4px;
  margin: 2px;
}

.example-container {
  width: 90%;
  // border: 1px solid $color-primary;
  // border-radius: 5px;s
  padding: ($gutter);
}