@media (max-width: 550px) {
  .docs-floating-nav-bar {
    display: none;
  }  
}
@media (min-width: 550px) {
  .docs-floating-nav-bar {
    position: fixed;
    font-size: .9rem;
    color: $color-primary;
    top: 2rem;
    left: 3rem;
    
    &--docked {
      position: absolute;
      top: 15rem;
    }
    
    & a {
      font-size: 0.9rem;
      text-decoration: none;
      color: $color-primary;
      &:active {
        color: $color-primary;
      }
      &:visited {
        color: $color-primary;
      }
      &:hover {
        color: $color-primary;
      }
    }
  }
}

