html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.6; }

strong {
  font-weight: 500; }

.bg-gray-dark {
  background-color: #373a3c; }

.bg-gray {
  background-color: #55595c; }

.bg-gray-light {
  background-color: #818a91; }

.bg-gray-lighter, .example-columns p {
  background-color: #eceeef; }

.bg-gray-lightest {
  background-color: #f7f7f9; }

.bg-primary {
  background-color: #3F51B5; }

.bg-primary-lighter {
  background-color: #7986CB; }

.bg-primary-darker {
  background-color: #303F9F; }

.bg-success {
  background-color: #5cb85c; }

.bg-info {
  background-color: #5bc0de; }

.bg-warning {
  background-color: #f0ad4e; }

.bg-danger {
  background-color: #d9534f; }

.font-gray-dark {
  color: #373a3c; }

.font-gray {
  color: #55595c; }

.font-gray-light {
  color: #818a91; }

.font-gray-lighter {
  color: #eceeef; }

.font-gray-lightest {
  color: #f7f7f9; }

.font-primary {
  color: #3F51B5; }

.font-primary-lighter {
  color: #7986CB; }

.font-primary-darker {
  color: #303F9F; }

.font-success {
  color: #5cb85c; }

.font-info {
  color: #5bc0de; }

.font-warning {
  color: #f0ad4e; }

.font-danger {
  color: #d9534f; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 1.2; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.0rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

.table__full {
  width: 100%;
  text-align: left; }

th {
  font-weight: 500; }

@media (min-width: 550px) {
  .columns {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; }
  .column {
    flex: 1 1 auto;
    padding: 8px; }
    .column.one {
      width: 8.33333%;
      flex: none; }
    .column.two {
      width: 16.66667%;
      flex: none; }
    .column.three {
      width: 25%;
      flex: none; }
    .column.four {
      width: 33.33333%;
      flex: none; }
    .column.five {
      width: 41.66667%;
      flex: none; }
    .column.six {
      width: 50%;
      flex: none; }
    .column.seven {
      width: 58.33333%;
      flex: none; }
    .column.eight {
      width: 66.66667%;
      flex: none; }
    .column.nine {
      width: 75%;
      flex: none; }
    .column.ten {
      width: 83.33333%;
      flex: none; }
    .column.eleven {
      width: 91.66667%;
      flex: none; }
    .column.full {
      width: 100%;
      flex: none; }
    .column.one-half {
      width: 50%; }
    .column.one-third {
      width: 33.33333%; }
    .column.two-third, .column.two-thirds {
      width: 66.66667%; }
    .column.offset-by-one {
      margin-left: 8.33333%; }
    .column.offset-by-two {
      margin-left: 16.66667%; }
    .column.offset-by-three {
      margin-left: 25%; }
    .column.offset-by-four {
      margin-left: 33.33333%; }
    .column.offset-by-five {
      margin-left: 41.66667%; }
    .column.offset-by-six {
      margin-left: 50%; }
    .column.offset-by-seven {
      margin-left: 58.33333%; }
    .column.offset-by-eight {
      margin-left: 66.66667%; }
    .column.offset-by-nine {
      margin-left: 75%; }
    .column.offset-by-ten {
      margin-left: 83.33333%; }
    .column.offset-by-eleven {
      margin-left: 91.66667%; }
    .column--tight {
      padding-top: 4px;
      padding-bottom: 4px; } }

.container {
  width: auto;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px; }

.swag-line:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 2;
  background-color: #3F51B5;
  background: linear-gradient(45deg, #303F9F, #3F51B5); }

.navbar {
  display: flex; }
  .navbar__left {
    flex: 1 0 auto; }
  .navbar__right {
    flex: 0 1 auto; }

.navbar--top {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px; }

.navbar--inverted {
  border-radius: 10px;
  padding: 16px;
  background: #3F51B5; }
  .navbar--inverted .button {
    background: #3F51B5;
    color: #f7f7f9; }

.button {
  padding: 16px;
  text-decoration: none;
  border: 2px solid #3F51B5;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #3F51B5;
  color: white;
  outline: 0;
  padding: 12px;
  margin: 8px 16px 8px 0; }
  .button:active, .button.active {
    outline: 0; }
  .button--primary {
    border: 2px solid #3F51B5;
    background-color: #3F51B5; }
  .button--success {
    border: 2px solid #5cb85c;
    background-color: #5cb85c; }
  .button--info {
    border: 2px solid #5bc0de;
    background-color: #5bc0de; }
  .button--warning {
    border: 2px solid #f0ad4e;
    background-color: #f0ad4e; }
  .button--danger {
    border: 2px solid #d9534f;
    background-color: #d9534f; }
  .button--outline-primary {
    background-color: white;
    color: #3F51B5;
    border: 2px solid #3F51B5; }
  .button--outline-success {
    background-color: white;
    color: #5cb85c;
    border: 2px solid #5cb85c; }
  .button--outline-info {
    background-color: white;
    color: #5bc0de;
    border: 2px solid #5bc0de; }
  .button--outline-warning {
    background-color: white;
    color: #f0ad4e;
    border: 2px solid #f0ad4e; }
  .button--outline-danger {
    background-color: white;
    color: #d9534f;
    border: 2px solid #d9534f; }
  .button--basic {
    background-color: white;
    border: 0px;
    color: #373a3c; }
  .button--small {
    font-size: 0.75rem; }

.button-set .button {
  margin-left: 0;
  margin-right: 0; }

.hero-header {
  margin-top: 2rem; }

form label {
  display: block;
  font-weight: 500;
  padding-bottom: 0.5rem; }

form input {
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #eceeef;
  appearance: none;
  font-weight: 300;
  color: #55595c;
  background-color: white;
  padding: 0.5rem; }

form select {
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #eceeef;
  appearance: none;
  font-weight: 300;
  color: #55595c;
  background-color: white;
  height: 2rem; }

form textarea {
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #eceeef;
  appearance: none;
  font-weight: 300;
  color: #55595c;
  background-color: white;
  padding: 0.5rem;
  height: 4rem; }

form .checkbox {
  display: inline;
  white-space: nowrap;
  width: 100%;
  font-weight: 300; }
  form .checkbox input {
    width: 1rem; }

.card {
  width: 20rem;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 1px #d4d4d5; }
  .card__title {
    font-weight: 500; }

.media {
  margin-top: 1rem; }
  .media__left {
    display: table-cell;
    vertical-align: top;
    padding-right: 1rem; }
  .media__body {
    display: table-cell;
    vertical-align: top; }
  .media__object {
    display: block; }
  .media h1, .media h2, .media h3, .media h4, .media h5, .media h6 {
    margin-bottom: 0.5rem; }
  .media__heading {
    font-weight: 500; }

.u-hide {
  display: none !important; }

.u-vertical-center {
  align-self: center; }

.u-center {
  text-align: center !important; }

.u-align-right {
  text-align: right !important; }

.u-float-right {
  float: right !important; }

.u-full-width {
  width: 100%; }

.u-inline {
  display: inline !important;
  padding: 0rem; }

.u-small {
  font-size: 0.75rem; }

-u-xsmall {
  font-size: 0.6rem; }

/* GitHub Theme */
.prettyprint {
  background: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-font-smoothing: antialiased; }

.pln {
  color: #333333; }

@media screen {
  .str {
    color: #dd1144; }
  .kwd {
    color: #333333; }
  .com {
    color: #999988; }
  .typ {
    color: #445588; }
  .lit {
    color: #445588; }
  .pun {
    color: #333333; }
  .opn {
    color: #333333; }
  .clo {
    color: #333333; }
  .tag {
    color: navy; }
  .atn {
    color: teal; }
  .atv {
    color: #dd1144; }
  .dec {
    color: #333333; }
  .var {
    color: teal; }
  .fun {
    color: #990000; } }

@media print, projection {
  .str {
    color: #006600; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #004444; }
  .pun, .opn, .clo {
    color: #444400; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #440044; }
  .atv {
    color: #006600; } }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */ }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */ }

.docs-section {
  margin-top: 3rem;
  padding-top: 3rem;
  position: relative; }

.docs-section::before {
  content: '';
  width: 50%;
  border-top: 1px solid #eceeef;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0; }

.docs-sub-section {
  margin-top: 2rem; }

.docs-header {
  color: font-gray;
  margin-bottom: 2rem; }

.code-example-body {
  white-space: pre;
  word-wrap: break-word;
  margin: 2rem; }

.docs-variant {
  margin-bottom: 0.25rem; }

.example-columns .column {
  padding: 4px; }

.example-columns p {
  border-radius: 10px;
  text-align: center;
  padding: 4px;
  margin: 2px; }

.example-container {
  width: 90%;
  padding: 16px; }

.example-media-container {
  width: 80%;
  border: 1px solid #eceeef;
  margin: auto;
  padding: 16px; }

@media (max-width: 550px) {
  .docs-floating-nav-bar {
    display: none; } }

@media (min-width: 550px) {
  .docs-floating-nav-bar {
    position: fixed;
    font-size: .9rem;
    color: #3F51B5;
    top: 2rem;
    left: 3rem; }
    .docs-floating-nav-bar--docked {
      position: absolute;
      top: 15rem; }
    .docs-floating-nav-bar a {
      font-size: 0.9rem;
      text-decoration: none;
      color: #3F51B5; }
      .docs-floating-nav-bar a:active {
        color: #3F51B5; }
      .docs-floating-nav-bar a:visited {
        color: #3F51B5; }
      .docs-floating-nav-bar a:hover {
        color: #3F51B5; } }

.docs-list-group {
  margin-top: 1rem; }
  .docs-list-group__item {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.6rem; }
