.container {
  width: auto;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

@media (min-width: 550px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 750px) {
  .container {
    max-width: 85%;
  }
}