@media (min-width: 550px) {
  .columns {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
    &--reverse {
      flex-direction: row-reverse;
    }
    
  }

  .column {
    flex: 1 1 auto;
    padding: $gutter / 2;
    
    &.one { width: (100% * 1/12); flex: none; } 
    &.two { width: (100% * 2/12); flex: none; } 
    &.three { width: (100% * 3/12); flex: none; } 
    &.four { width: (100% * 4/12); flex: none; } 
    &.five { width: (100% * 5/12); flex: none; } 
    &.six { width: (100% * 6/12); flex: none; } 
    &.seven { width: (100% * 7/12); flex: none; } 
    &.eight { width: (100% * 8/12); flex: none; } 
    &.nine { width: (100% * 9/12); flex: none; } 
    &.ten { width: (100% * 10/12); flex: none; } 
    &.eleven { width: (100% * 11/12); flex: none; }  
    
    &.full { width: (100%); flex: none; }  
    
    &.one-half { width: 50%; }
    &.one-third { width: (100% * 1/3); }
    &.two-third, &.two-thirds { width: (100% * 2/3); }
    
    &.offset-by-one { margin-left: (100% * 1/12); }
    &.offset-by-two { margin-left: (100% * 2/12); }
    &.offset-by-three { margin-left: (100% * 3/12); }
    &.offset-by-four { margin-left: (100% * 4/12); }
    &.offset-by-five { margin-left: (100% * 5/12); }
    &.offset-by-six { margin-left: (100% * 6/12); }
    &.offset-by-seven { margin-left: (100% * 7/12); }
    &.offset-by-eight { margin-left: (100% * 8/12); }
    &.offset-by-nine { margin-left: (100% * 9/12); }
    &.offset-by-ten { margin-left: (100% * 10/12); }
    &.offset-by-eleven { margin-left: (100% * 11/12); }
    
    &--tight {
      padding-top: $gutter / 4;
      padding-bottom: $gutter / 4;
    }
    
    &--grow {
      flex-grow: 10;
    }
  }
  
  
}