.media {
  display: flex;
  margin-top: 1rem;
  padding: 0.5rem;
  &__left {
    vertical-align: top;
    padding-right: 0.5rem;
  }
  &__body {
    vertical-align: top;
  }
  &__object {
    display: block;
  }
  & h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
  }
  &__heading {
    font-weight: 500;
  }
  word-wrap: break-word;
  word-break: break-word;
}