.navbar {
  display: flex;
  &__left {
    flex: 1 0 auto;
  }
  &__right {
    flex: 0 1 auto;
  }
}

.navbar--top {
  margin-top: $gutter;
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.navbar--inverted {
  border-radius: 10px;
  padding: $gutter;
  background: $color-primary;
  & .button {
    background: $color-primary;
    color: $gray-lightest;
  }
}
