.navbar {
  padding: $gutter;
  display: flex;
  flex-wrap: wrap;
  &__left {
    flex: 1 0 auto;
  }
  &__right {
    flex: 1 1 auto;
    text-align: right;
  }
  &--top {
    margin-top: $gutter;  
  }
}

.navbar--inverted {
  border-radius: 10px;
  background: $color-primary;
  & .button {
    background: $color-primary;
    color: $gray-lightest;
  }
}
