.bg-gray-dark { background-color: $gray-dark; }
.bg-gray { background-color: $gray; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-lightest { background-color: $gray-lightest; }

.bg-primary { background-color: $color-primary; }
.bg-primary-lighter { background-color: $color-primary-lighter; }
.bg-primary-darker { background-color: $color-primary-darker; }
.bg-success { background-color: $color-success; }
.bg-info { background-color: $color-info; }
.bg-warning { background-color: $color-warning; }
.bg-danger { background-color: $color-danger; }
