.font-gray-dark { color: $gray-dark; }
.font-gray { color: $gray; }
.font-gray-light { color: $gray-light; }
.font-gray-lighter { color: $gray-lighter; }
.font-gray-lightest { color: $gray-lightest; }

.font-primary { color: $color-primary; }
.font-primary-lighter { color: $color-primary-lighter; }
.font-primary-darker { color: $color-primary-darker; }
.font-success { color: $color-success; }
.font-info { color: $color-info; }
.font-warning { color: $color-warning; }
.font-danger { color: $color-danger; }

