.u-hide {
  display: none !important;
}

.u-vertical-center {
  align-self: center;
}

.u-center {
  text-align: center !important;
}

.u-align-right {
  text-align: right !important;
}

.u-float-right {
  float: right !important;
}

.u-full-width {
  width: 100%
}

.u-inline {
  display: inline !important;
  padding: 0rem;
}

.u-small {
  font-size: 0.75rem;
}

-u-xsmall {
  font-size: 0.6rem;
}

